body{
    margin: 0;
}
p,h1,h2,h3,h4,h5{
    color: #f0696f;
}
h1{
    font-size: 2.4em;
    margin: 2px;
}
p{
    margin-left: 8px;
    line-height: 24px;
    margin-top: 4px;
    margin-bottom: 4px
}
grey {
    color: #384950;
}
purple {
    color: #cdb4cd;
}
span {
    display: inline-block;
    width: 1024px;
    height: 768px;
    overflow: hidden;
}
img.background{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.dualContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
}
.bouquetBox {
    font-family: "scientifica";
    font-size: 0.8em;
    color: #aaafb2;

    padding: 8px;
    display: flex;
    flex-direction: column;

    background: #121c21;
    outline: 4px solid #121c21;
    border: 2px solid #384950;
    gap: 8px;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
.titleContainer img {
    height:1em;
    transform: translate(0px, -3px);
}
.fillContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.takanaka {
    background: url('../img/takanaka_thumbsup.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    height: 40%;
    overflow:hidden;
}
@font-face{
    font-gamily: "scientifica";
    font-style: normal;
    src: url("../fonts/scientifica.otf")
}
#content{
    padding: 3em 4em;
    height: 100%;
}
